@import "variables";
@import "typography";
@import "components/texts";
@import "components/button.scss";
@import "components/menu";
@import "components/content";
@import "components/header";
@import "components/footer";

body {
  margin: 0;
}
.container{
  max-width: 1440px;
  width: 100%;
}

